CONVERSATION_HISTORY_STORE__URI=mongodb://localhost:27017
CONVERSATION_HISTORY_STORE__DATABASE_NAME=tuvilm
CONVERSATION_HISTORY_STORE__TZ_AWARE=true
CONVERSATION_HISTORY_STORE__STALE_PENDING_AFTER_SECONDS=900
